/*  
 * @description: 公共样式
 * @author: WXF 
 * @update: 2019-07-22 
 */
html, body {
	background-color: #fff;
  font-family: firstFont;
}
.wrap1100{
  width: 1100px;
  margin: auto;
}
.wrap1150{
  width: 1200px;
  margin: auto;
}
.wrap1300{
  width: 1320px;
  margin: auto;
}
@font-face {
  font-family: firstFont;
  src: url('../fonts/ArialMT.ttf');
}

/* 顶疗（导航） */
.banner-box{
  width: 100%;
  height: 410px;
  overflow: hidden;
  background: url(../images/sky-home.png) no-repeat center center;
  background-size: 100% 100%;
  .head{
    display: flex;
    justify-content: space-between;
    height: 60px;
    .logo{
      width: 113px;
      height: 44px;
      margin: 15px 0 0 30px;
    }
    nav{
      margin: 0 20px 0 0;
      ul{
        display: flex;
        justify-content: flex-start;
      }
      li{
        height: 60px;
        line-height: 60px;
        margin: 0 0 0 40px;
        cursor: pointer;
        &:hover, &.active{
          span{
            color: #58EEFF;
            border-color: #58EEFF;
          }
        }
        span{
          display: inline-block;
          height: 48px;
          border-bottom: 3px solid transparent;
          font-size: 24px;
          color: #DDE9F7;
        }
      }
    }
  }
}

/* 搜索 */
.search-box{
  display: flex;
  justify-content: center;
  .search{
    width: 556px;
    height: 50px;
    background: #F6F6F6;
    border-radius: 2px;
    display: flex;
    justify-content: flex-start;
    .search-key{
      width: 110px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-right: 1px solid #4E545B;
      .el-dropdown-link{
        font-size: 16px;
        color: #222725;
      }
    }
    .search-ipt{
      width: 446px;
      height: 50px;
      line-height: 50px;
      padding: 0 10px;
    }
  }
  .search-btn{
    width: 128px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 2px;
    background: linear-gradient(to right, #37CDFB , #00AEF4);
    margin: 0 0 0 10px;
    font-size: 18px;
    color: #fff;
  }
}

/* 首页banner 幻灯片 */
.resource-banner{
  .el-carousel__arrow{
    width: 40px;
    height: 40px;
    border: 2px solid #B5B5B5;
    border-radius: 100%;
    background-color: #F6F8F9;
    i{
      font-size: 28px;
      font-weight: bold;
      color: #B5B5B5;
    }
  }
}
.about-us-box, .contact-us-box{
  .el-carousel{
    position: relative;
  }
  .el-carousel__container{
    position: static;
    width: 1050px;
    margin: auto;
    overflow: hidden;
    .el-carousel__item{
      width: 1050px;
      left: 50%;
      margin: 0 0 0 -525px;
    }
  }
  .el-carousel__arrow{
    width: 44px;
    height: 60px;
    border-radius: 0;
    background-color: #F6F8F9;
    &.el-carousel__arrow--left{
      left: 0;
    }
    &.el-carousel__arrow--right{
      right: 0;
    }
    i{
      font-size: 28px;
      font-weight: bold;
      color: #B5B5B5;
    }
  }
}
.contact-us-box{
  .el-carousel{
    margin-top: 55px !important;
  }
  .el-carousel__container{
    width: 1320px;
    padding: 0 10px;
    .el-carousel__item{
      width: 1320px;
      margin: 0 0 0 -660px;
    }
  }
  .el-carousel__arrow{
    background-color: #BED4DB;
    &:hover{
      background-color: #296A7F;
    }
    i{
      color: #fff;
    }
  }
}

/* 面包屑 */
.el-breadcrumb__item{
  span{
    color: #fff !important;
    font-size: 20px;
  }
  .el-breadcrumb__separator{
    margin: 0 8px;
  }
}

/* 弹框 */
.bg{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background: #000;
  opacity: 0.5;
}
.dialog{
  width: 653px;
  background: #eff2f4;
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  .dialog-head{
    height: 224px;
    background: url(../images/sky.png) no-repeat center bottom;
    // background-size: 100% 100%;
    position: relative;
    .cont{
      line-height: 120px;
      display: flex;
      justify-content: center;
      span{
        font-size: 28px;
        color: #E8F5F8;
      }
    }
    h3{
      width: 122px;
      height: 122px;
      line-height: 122px;
      text-align: center;
      background: #5BBAD7;
      border-radius: 100%;
      color: #fff;
      font-size: 26px;
      position: absolute;
      top: 100px;
      left: 50%;
      transform: translateX(-50%);
    }
    .btn-close{
      position: absolute;
      top: -22px;
      right: -22px;
      width: 44px;
      height: 44px;
      .btn-close-bg{
        width: 44px;
        height: 44px;
        text-align: center;
        background: #EBEBEB;
        border-radius: 100%;
        opacity: 0.5;
      }
      i{
        position: absolute;
        top: 11px;
        left: 11px;
        font-size: 22px;
        font-weight: bold;
        color: #fff;
      }
    }
  }
  .dialog-body{
    .row{
      padding: 0 115px 0 118px;
      margin-bottom: 10px;
      position: relative;
      &.spe{
        padding: 0 0 0 118px;
        margin: 20px 0;
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
        .checkbox{
          display: inline-block;
          width: 16px;
          height: 16px;
          margin: 0 10px 0 0;
          &.checked{
            background: url(../images/checked.png) no-repeat center center;
            background-size: 100% 100%;
          }
        }
        span{
          line-height: 16px;
          font-size: 14px;
          color: #32982A;
        }
      }
      label{
        display: block;
        font-size: 16px;
        color: #667C83;
        margin-bottom: 2px;
        i{
          color: #CC122C;
          margin-right: 5px;
        }
      }
      .ipt{
        width: 420px;
        height: 32px;
        line-height: 32px;
        background: #fff;
        border: 1px solid #F0F0F0;
        border-radius: 2px;
        padding: 0 10px;
        &.spe{
          padding: 0 115px 0 10px;
        }
      }
      img{
        position: absolute;
        bottom: 0;
        right: 115px;
        width: 92px;
        height: 32px;
      }
    }
  }
  .tips{
    font-size: 20px;
    color: #3C66D2;
    margin: 10px 0 20px 118px;
  }
  .dialog-footer{
    height: 72px;
    background: #DCE7EA;
    display: flex;
    justify-content: flex-end;
    .btn{
      width: 158px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 16px;
      border-radius: 2px;
      margin: 16px 10px;
      cursor: pointer;
      &.cancel{
        border: 1px solid #427F90;
        color: #3F7589;
      }
      &.confirm{
        background: linear-gradient(to right, #5DC1E2, #427387);
        color: #fff;
      }
      
    }
  }
}

/* 侧边栏 */
.my-aside{
  // position: fixed;
  // top: 286px;
  // right: 0;
  width: 368px;
  height: calc(100% - 286px);
  overflow-y: scroll;
  background: #FCFCFC;
  box-shadow: 0 6px 12px rgba(41, 80, 235, 0.18);
  .col{
    margin: 0 0 25px 0;
    &:first-child{
      margin-top: 35px;
      p{
        color: #2950EB;
      }
    }
    h3{
      line-height: 50px;
      padding: 0 45px;
      font-size: 20px;
      color: #424344;
    }
    p{
      height: 34px;
      line-height: 34px;
      padding: 0 45px;
      font-size: 16px;
      color: #2F454C;
      cursor: pointer;
      &:hover, &.active{
        background: #D9E5E7;
      }
    }
    span{
      display: block;
      width: 110px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      background: #54A7C4;
      border-radius: 2px;
      color: #fff;
      font-size: 18px;
      margin: 10px 0 0 45px;
    }
  }
}

/* checkbox */
.el-checkbox{
  margin-bottom: 20px;
  .el-checkbox__inner{
    width: 25px;
    height: 23px;
    &::after{
      width: 8px;
      height: 15px;
      left: 7px;

    } 
  }
  .el-checkbox__input{
    float: left;
  }
  .el-checkbox__label{
    float: left;
    line-height: 24px;
  }
  &.check-all{
    .el-checkbox__label{
      color: #424344;
      font-size: 22px;
    }
  }
  &.check-col{
    .el-checkbox__label{
      color: #29697E;
      font-size: 22px;
    }
  }
}
