/*  
 * @description: 公共样式
 * @author: WXF 
 * @update: 2019-07-22 
 */
html, body {
	background-color: #fff;
  font-family: firstFont;
}
@font-face {
  font-family: firstFont;
  src: url('../fonts/ArialMT.ttf');
}

